{% extends 'base.html' %}

{% block title %}Usuarios - Sistema de Compras{% endblock %}

{% block header_title %}Usuarios{% endblock %}

{% block content %}

{% if messages %}
    <ul>
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p><a href="{% url 'iniciar_sesion' %}">Iniciar sesión</a></p>
<p><a href="{% url 'registrar_usuario' %}">Registrarse</a></p>
    <a href="{% url 'listar_usuarios' %}">Ver usuarios registrados</a>

{% endblock %}
